@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
.profil-picture {
border-radius: 50%;
  width: 10rem;
  margin-top: 3rem;
}
.name {
  color: #ff7171;
  font-weight: 900;
  font-family: Redressed;
}
.adress {
  font-family: Recursive;
  padding-top: -1rem;
  margin-top: -1rem;
  color: #e94b4b;
  margin-bottom: 30rem;
}
.App {
  background-color: #ffe8e8;
  text-align: center;
}